@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Yatra One', cursive;
    font-weight: 100;
}

html{
overflow-y:hidden;
overflow-x:hidden;
font-size: 62.5%;
width: 100vw;
height: 100vh;
background: rgb(196, 195, 195);
}

#header{
    text-align: center;
    font-size: 3rem;
}

#header h1{
    padding: 1rem;
}

.content{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: max-content;
    width: 100%;
    display:grid;
    grid-template-columns: 20% auto 20%;
}

#ladoEsquerdo, #ladoDireito{
    height: 72rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('fundodireito.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#ladoEsquerdo h2{
    margin-bottom: 2rem;
    font-size: 3rem;
}

#ladoEsquerdo img{
    width: 7rem;
}

#fantasma{
    color: chocolate;
}

#dragão{
    color:green;
}

#mago{
    color: midnightblue;
}

#jogo h2{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.jogador{
color: blue;
font-weight: 900;
}

#jogo{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

table{
    border-collapse: collapse;
}

table tr, td{
    font-size: 4.5rem;
    border-radius: 2rem;
}

table:focus{
    outline: none;
}

.bege, .azul, .amarelo, .verde{
    box-shadow: 1rem 1rem 1rem rgba(10, 19, 31, 0.3) ;
}

.clicavel{
    cursor: pointer;
}

table td{
    width: 7.5rem;
    height: 6.5rem;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

td{
    height: 6rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5rem;
}

.azul{
    background-color: #84ade3;
    opacity: 1;
}

.bege{
    background-color:rgb(249, 209, 161);
}

.amarelo{
    background-color:rgb(255, 255, 174);
}

.verde{
    background-color:rgb(184, 240, 179);
    color: rgb(184, 240, 179);
}

#inicio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#fim{
    height: 6rem;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("finished.png");
    background-size: 4rem;
}

#portal{
    height: 6rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4rem;
    background-image: url("portal.png");
}

#inicio, #fim, #portal{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#jog1, #jog2, #jog3{
    height: 7rem;
    background-repeat: no-repeat;
    background-size: 5rem;
    background-position: center;
}

#footer{
    margin-top: 2rem;
    text-align: center;
}

#footer h1{
    font-size: 2rem;
}

/*Aqui ACABA a estilização da tela do JOGO*/

/*Aqui COMEÇA a estilização da tela do LOGIN*/

#titulo h2{
    font-size: 4rem;
    margin-bottom: 40px;
    text-align: center;
}

.players{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group{
    display: flex;
    flex-direction: column;
}

.form-group input{
    width: 40rem;
    border-radius: 1rem;
    font-size: 2rem;
    height: 3rem;
    border: 1px solid #9d9494;
    padding: 1rem;

}

.form-group input::placeholder{
    color: rgb(82, 80, 80);
    font-size: 2rem;
    text-align: center;
}

.form-group label{
    font-size: 2.5rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.loginButton{
    cursor: pointer;
    color: #b33951;
    margin-top: 4rem;
    padding: 6px 12px;
    border-radius: 3px;
    font-weight: 700;
    font-size: 20px;
    border: 2px solid #b33951;
    transition: .4s;
}

    .loginButton:hover{
        color: #fff;
        background: #b33951;
    }

    .loginButton:disabled{
        color: #ffffff;
        cursor: not-allowed;
        color: #e8b1bc;
    }

@keyframes shake{
    0%{transform: translate(1px,1px) rotate(0deg);}
    10%{transform: translate(-1px,-2px) rotate(-5deg);}
    20%{transform: translate(-2px,0px) rotate(5deg);}
    30%{transform: translate(4px,5px) rotate(0deg);}
    40%{transform: translate(1px,-1px) rotate(5deg);}
    50%{transform: translate(-1px,5px) rotate(-5deg);}
    60%{transform: translate(-5px,2px) rotate(0deg);}
    70%{transform: translate(-1px,1px) rotate(-5deg);}
    80%{transform: translate(5px,2px) rotate(5deg);}
    90%{transform: translate(0px,-3px) rotate(0deg);}
    100%{transform: translate(-1px,-4px) rotate(-5deg);}
}
